.navigation__home {
  color: #b6bcbf;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin: auto;
  margin-right: 44px;

  margin-top: 2px;
  padding: 26px 20px;
  cursor: url("../../images/lapka.png"), auto;
  text-decoration: none;
}
.navigation__home_noborder {
  border: none;
}
.navigation__home::after {
  color: #b6bcbf;
}

.navigation__sign {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  width: 176px;
  height: 45px;
  border: 1px solid white;
  border-radius: 100px;
  margin-right: 104px;
  background-color: transparent;
  cursor: url("../../images/lapka.png"), auto;
  margin-right: 104px;
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
}
.navigation__outbutton {
  padding-left: 10px;
  padding-right: 9px;
  cursor: url("../../images/lapka.png"), auto;
}
.navigation__name {
  width: auto;
  padding-left: 19px;
}
@media only screen and (min-width: 768px) and (max-width: 1090px) {
  .navigation__home {
    padding: 20px 20px;
  }
  .navigation__sign {
    margin-right: 40px;
  }
}
@media only screen and (max-width: 767px) and (min-width: 320px) {
  .navigation__main {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
  }
  .navigation__home {
    display: none;
  }
  .navigation__button {
    width: 24px;
    height: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: transparent;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    cursor: url("../../images/lapka.png"), auto;
    border-style: none;
    outline-style: none;
    margin-right: 20px;
  }
  .navigation__button-line {
    width: 24px;
    height: 2px;
    background-color: white;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
  }
  .navigation__button-line_closing {
    opacity: 0;
  }

  .navigation__button-line_closing:first-of-type {
    opacity: 1;
    transform: translate(0px, 3px) rotate(135deg);
  }

  .navigation__button-line_closing:last-of-type {
    opacity: 1;
    transform: translate(0px, -4px) rotate(-135deg);
  }

  .navigation__subwrapper {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    background: rgba(196, 196, 196, 0.01);
    z-index: 3;
  }
  .navigation__line {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(196, 196, 196, 0.01);
    display: block;
    border-bottom: solid 1px rgba(84, 84, 84, 0.7);
    height: 58px;
    width: 100%;
    }
    .navigation__home_mobile {
      color: white;
      font-family: Roboto, Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 56px;
      position: absolute;
      left: 16px;
      top: 72px;
    }
  .navigation__saved_mobile {
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 56px;
    position: absolute;
    left: 16px;
    top: 138px;
    border-bottom: solid 5px rgba(196, 196, 196, 0.01);
  }
  .navigation__sign {
    position: absolute;
    bottom: 24px;
    left: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    width: 288px;
    height: 56px;
    border: 1px solid white;
    border-radius: 100px;
    margin-right: 104px;
    background-color: transparent;
  }
}

.navigation__button_textblack {
  color: #b6bcbf;
}
.navigation_black {
  background-color: black;
}
.navigation__home_active {
  border-bottom: 3px solid white;
  color: white;
}
.navigation__savednews_active {
  border-bottom: 3px solid black;
  color: black;
}
.navigation__sign_black {
  border: 1px solid black;
  color: black;
}
